$aw-icon-arrow-down: "\ea01";
$aw-icon-arrow-ext-link: "\ea02";
$aw-icon-arrow-left: "\ea03";
$aw-icon-arrow-right: "\ea04";
$aw-icon-arrow-up: "\ea05";
$aw-icon-calendar: "\ea06";
$aw-icon-check: "\ea07";
$aw-icon-chevron-down: "\ea08";
$aw-icon-chevron-left: "\ea09";
$aw-icon-chevron-right: "\ea0a";
$aw-icon-chevron-up: "\ea0b";
$aw-icon-close: "\ea0c";
$aw-icon-copy: "\ea0d";
$aw-icon-dark: "\ea0e";
$aw-icon-discord: "\ea0f";
$aw-icon-divider-vertical: "\ea10";
$aw-icon-download: "\ea11";
$aw-icon-github: "\ea12";
$aw-icon-hamburger-menu: "\ea13";
$aw-icon-light: "\ea14";
$aw-icon-linkedin: "\ea15";
$aw-icon-location: "\ea16";
$aw-icon-logout-left: "\ea17";
$aw-icon-logout-right: "\ea18";
$aw-icon-minus: "\ea19";
$aw-icon-plus: "\ea1a";
$aw-icon-product-hunt: "\ea1b";
$aw-icon-search: "\ea1c";
$aw-icon-star: "\ea1d";
$aw-icon-twitter: "\ea1e";
$aw-icon-youtube: "\ea1f";
