$web-icon-ai-prompt: "\ea01";
$web-icon-apple: "\ea02";
$web-icon-appwrite: "\ea03";
$web-icon-arrow-down: "\ea04";
$web-icon-arrow-ext-link: "\ea05";
$web-icon-arrow-left: "\ea06";
$web-icon-arrow-right: "\ea07";
$web-icon-arrow-up: "\ea08";
$web-icon-bluesky: "\ea09";
$web-icon-calendar: "\ea0a";
$web-icon-check: "\ea0b";
$web-icon-chevron-down: "\ea0c";
$web-icon-chevron-left: "\ea0d";
$web-icon-chevron-right: "\ea0e";
$web-icon-chevron-up: "\ea0f";
$web-icon-close: "\ea10";
$web-icon-command: "\ea11";
$web-icon-copy: "\ea12";
$web-icon-customize: "\ea13";
$web-icon-daily-dev: "\ea14";
$web-icon-dark: "\ea15";
$web-icon-discord: "\ea16";
$web-icon-divider-vertical: "\ea17";
$web-icon-download: "\ea18";
$web-icon-edge: "\ea19";
$web-icon-ext-link: "\ea1a";
$web-icon-firebase: "\ea1b";
$web-icon-github: "\ea1c";
$web-icon-google: "\ea1d";
$web-icon-hamburger-menu: "\ea1e";
$web-icon-instagram: "\ea1f";
$web-icon-light: "\ea20";
$web-icon-linkedin: "\ea21";
$web-icon-location: "\ea22";
$web-icon-logout-left: "\ea23";
$web-icon-logout-right: "\ea24";
$web-icon-mailgun: "\ea25";
$web-icon-mcp: "\ea26";
$web-icon-message: "\ea27";
$web-icon-microsoft: "\ea28";
$web-icon-minus: "\ea29";
$web-icon-nuxt: "\ea2a";
$web-icon-platform: "\ea2b";
$web-icon-play: "\ea2c";
$web-icon-plus: "\ea2d";
$web-icon-pop-locations: "\ea2e";
$web-icon-product-hunt: "\ea2f";
$web-icon-refine: "\ea30";
$web-icon-regions: "\ea31";
$web-icon-remix: "\ea32";
$web-icon-rest: "\ea33";
$web-icon-search: "\ea34";
$web-icon-sendgrid: "\ea35";
$web-icon-sparkle: "\ea36";
$web-icon-star: "\ea37";
$web-icon-system: "\ea38";
$web-icon-textmagic: "\ea39";
$web-icon-ticket: "\ea3a";
$web-icon-tiktok: "\ea3b";
$web-icon-twitter: "\ea3c";
$web-icon-vue: "\ea3d";
$web-icon-x: "\ea3e";
$web-icon-ycombinator: "\ea3f";
$web-icon-youtube: "\ea40";
