$aw-icon-apple: "\ea01";
$aw-icon-arrow-down: "\ea02";
$aw-icon-arrow-ext-link: "\ea03";
$aw-icon-arrow-left: "\ea04";
$aw-icon-arrow-right: "\ea05";
$aw-icon-arrow-up: "\ea06";
$aw-icon-calendar: "\ea07";
$aw-icon-check: "\ea08";
$aw-icon-chevron-down: "\ea09";
$aw-icon-chevron-left: "\ea0a";
$aw-icon-chevron-right: "\ea0b";
$aw-icon-chevron-up: "\ea0c";
$aw-icon-close: "\ea0d";
$aw-icon-copy: "\ea0e";
$aw-icon-dark: "\ea0f";
$aw-icon-discord: "\ea10";
$aw-icon-divider-vertical: "\ea11";
$aw-icon-download: "\ea12";
$aw-icon-github: "\ea13";
$aw-icon-google: "\ea14";
$aw-icon-hamburger-menu: "\ea15";
$aw-icon-light: "\ea16";
$aw-icon-linkedin: "\ea17";
$aw-icon-location: "\ea18";
$aw-icon-logout-left: "\ea19";
$aw-icon-logout-right: "\ea1a";
$aw-icon-microsoft: "\ea1b";
$aw-icon-minus: "\ea1c";
$aw-icon-nuxt: "\ea1d";
$aw-icon-platform: "\ea1e";
$aw-icon-plus: "\ea1f";
$aw-icon-product-hunt: "\ea20";
$aw-icon-refine: "\ea21";
$aw-icon-rest: "\ea22";
$aw-icon-search: "\ea23";
$aw-icon-star: "\ea24";
$aw-icon-system: "\ea25";
$aw-icon-twitter: "\ea26";
$aw-icon-vue: "\ea27";
$aw-icon-x: "\ea28";
$aw-icon-youtube: "\ea29";
