@font-face {font-family: "aw-icon";
  src: url('aw-icon.eot'); /* IE9*/
  src: url('aw-icon.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("aw-icon.woff2") format("woff2"),
  url("aw-icon.woff") format("woff"),
  url('aw-icon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('aw-icon.svg#aw-icon') format('svg'); /* iOS 4.1- */
}

[class^="aw-icon-"], [class*=" aw-icon-"] {
  font-family: 'aw-icon' !important;
  font-size: 20px;
  font-display: swap;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aw-icon-apple:before { content: "\ea01"; }
.aw-icon-appwrite:before { content: "\ea02"; }
.aw-icon-arrow-down:before { content: "\ea03"; }
.aw-icon-arrow-ext-link:before { content: "\ea04"; }
.aw-icon-arrow-left:before { content: "\ea05"; }
.aw-icon-arrow-right:before { content: "\ea06"; }
.aw-icon-arrow-up:before { content: "\ea07"; }
.aw-icon-calendar:before { content: "\ea08"; }
.aw-icon-check:before { content: "\ea09"; }
.aw-icon-chevron-down:before { content: "\ea0a"; }
.aw-icon-chevron-left:before { content: "\ea0b"; }
.aw-icon-chevron-right:before { content: "\ea0c"; }
.aw-icon-chevron-up:before { content: "\ea0d"; }
.aw-icon-close:before { content: "\ea0e"; }
.aw-icon-command:before { content: "\ea0f"; }
.aw-icon-copy:before { content: "\ea10"; }
.aw-icon-dark:before { content: "\ea11"; }
.aw-icon-discord:before { content: "\ea12"; }
.aw-icon-divider-vertical:before { content: "\ea13"; }
.aw-icon-download:before { content: "\ea14"; }
.aw-icon-ext-link:before { content: "\ea15"; }
.aw-icon-firebase:before { content: "\ea16"; }
.aw-icon-github:before { content: "\ea17"; }
.aw-icon-google:before { content: "\ea18"; }
.aw-icon-hamburger-menu:before { content: "\ea19"; }
.aw-icon-light:before { content: "\ea1a"; }
.aw-icon-linkedin:before { content: "\ea1b"; }
.aw-icon-location:before { content: "\ea1c"; }
.aw-icon-logout-left:before { content: "\ea1d"; }
.aw-icon-logout-right:before { content: "\ea1e"; }
.aw-icon-mailgun:before { content: "\ea1f"; }
.aw-icon-message:before { content: "\ea20"; }
.aw-icon-microsoft:before { content: "\ea21"; }
.aw-icon-minus:before { content: "\ea22"; }
.aw-icon-nuxt:before { content: "\ea23"; }
.aw-icon-platform:before { content: "\ea24"; }
.aw-icon-play:before { content: "\ea25"; }
.aw-icon-plus:before { content: "\ea26"; }
.aw-icon-product-hunt:before { content: "\ea27"; }
.aw-icon-refine:before { content: "\ea28"; }
.aw-icon-rest:before { content: "\ea29"; }
.aw-icon-search:before { content: "\ea2a"; }
.aw-icon-sendgrid:before { content: "\ea2b"; }
.aw-icon-star:before { content: "\ea2c"; }
.aw-icon-system:before { content: "\ea2d"; }
.aw-icon-twitter:before { content: "\ea2e"; }
.aw-icon-vue:before { content: "\ea2f"; }
.aw-icon-x:before { content: "\ea30"; }
.aw-icon-youtube:before { content: "\ea31"; }

$aw-icon-apple: "\ea01";
$aw-icon-appwrite: "\ea02";
$aw-icon-arrow-down: "\ea03";
$aw-icon-arrow-ext-link: "\ea04";
$aw-icon-arrow-left: "\ea05";
$aw-icon-arrow-right: "\ea06";
$aw-icon-arrow-up: "\ea07";
$aw-icon-calendar: "\ea08";
$aw-icon-check: "\ea09";
$aw-icon-chevron-down: "\ea0a";
$aw-icon-chevron-left: "\ea0b";
$aw-icon-chevron-right: "\ea0c";
$aw-icon-chevron-up: "\ea0d";
$aw-icon-close: "\ea0e";
$aw-icon-command: "\ea0f";
$aw-icon-copy: "\ea10";
$aw-icon-dark: "\ea11";
$aw-icon-discord: "\ea12";
$aw-icon-divider-vertical: "\ea13";
$aw-icon-download: "\ea14";
$aw-icon-ext-link: "\ea15";
$aw-icon-firebase: "\ea16";
$aw-icon-github: "\ea17";
$aw-icon-google: "\ea18";
$aw-icon-hamburger-menu: "\ea19";
$aw-icon-light: "\ea1a";
$aw-icon-linkedin: "\ea1b";
$aw-icon-location: "\ea1c";
$aw-icon-logout-left: "\ea1d";
$aw-icon-logout-right: "\ea1e";
$aw-icon-mailgun: "\ea1f";
$aw-icon-message: "\ea20";
$aw-icon-microsoft: "\ea21";
$aw-icon-minus: "\ea22";
$aw-icon-nuxt: "\ea23";
$aw-icon-platform: "\ea24";
$aw-icon-play: "\ea25";
$aw-icon-plus: "\ea26";
$aw-icon-product-hunt: "\ea27";
$aw-icon-refine: "\ea28";
$aw-icon-rest: "\ea29";
$aw-icon-search: "\ea2a";
$aw-icon-sendgrid: "\ea2b";
$aw-icon-star: "\ea2c";
$aw-icon-system: "\ea2d";
$aw-icon-twitter: "\ea2e";
$aw-icon-vue: "\ea2f";
$aw-icon-x: "\ea30";
$aw-icon-youtube: "\ea31";
