@font-face {
    font-family: "aw-icon";
    font-display: swap;
    src: url('aw-icon.eot'); /* IE9*/
    src: url('aw-icon.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("aw-icon.woff2") format("woff2"),
    url("aw-icon.woff") format("woff"),
    url('aw-icon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('aw-icon.svg#aw-icon') format('svg'); /* iOS 4.1- */
}

[class^="aw-icon-"], [class*=" aw-icon-"] {
    font-family: 'aw-icon' !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aw-icon-apple:before { content: "\ea01"; }
.aw-icon-appwrite:before { content: "\ea02"; }
.aw-icon-arrow-down:before { content: "\ea03"; }
.aw-icon-arrow-ext-link:before { content: "\ea04"; }
.aw-icon-arrow-left:before { content: "\ea05"; }
.aw-icon-arrow-right:before { content: "\ea06"; }
.aw-icon-arrow-up:before { content: "\ea07"; }
.aw-icon-calendar:before { content: "\ea08"; }
.aw-icon-check:before { content: "\ea09"; }
.aw-icon-chevron-down:before { content: "\ea0a"; }
.aw-icon-chevron-left:before { content: "\ea0b"; }
.aw-icon-chevron-right:before { content: "\ea0c"; }
.aw-icon-chevron-up:before { content: "\ea0d"; }
.aw-icon-close:before { content: "\ea0e"; }
.aw-icon-command:before { content: "\ea0f"; }
.aw-icon-copy:before { content: "\ea10"; }
.aw-icon-dark:before { content: "\ea11"; }
.aw-icon-discord:before { content: "\ea12"; }
.aw-icon-divider-vertical:before { content: "\ea13"; }
.aw-icon-download:before { content: "\ea14"; }
.aw-icon-github:before { content: "\ea15"; }
.aw-icon-google:before { content: "\ea16"; }
.aw-icon-hamburger-menu:before { content: "\ea17"; }
.aw-icon-light:before { content: "\ea18"; }
.aw-icon-linkedin:before { content: "\ea19"; }
.aw-icon-location:before { content: "\ea1a"; }
.aw-icon-logout-left:before { content: "\ea1b"; }
.aw-icon-logout-right:before { content: "\ea1c"; }
.aw-icon-microsoft:before { content: "\ea1d"; }
.aw-icon-minus:before { content: "\ea1e"; }
.aw-icon-nuxt:before { content: "\ea1f"; }
.aw-icon-platform:before { content: "\ea20"; }
.aw-icon-plus:before { content: "\ea21"; }
.aw-icon-product-hunt:before { content: "\ea22"; }
.aw-icon-refine:before { content: "\ea23"; }
.aw-icon-rest:before { content: "\ea24"; }
.aw-icon-search:before { content: "\ea25"; }
.aw-icon-star:before { content: "\ea26"; }
.aw-icon-system:before { content: "\ea27"; }
.aw-icon-twitter:before { content: "\ea28"; }
.aw-icon-vue:before { content: "\ea29"; }
.aw-icon-x:before { content: "\ea2a"; }
.aw-icon-youtube:before { content: "\ea2b"; }
