@font-face {font-family: "web-icon";
  src: url('web-icon.eot'); /* IE9*/
  src: url('web-icon.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("web-icon.woff2") format("woff2"),
  url("web-icon.woff") format("woff"),
  url('web-icon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('web-icon.svg#web-icon') format('svg'); /* iOS 4.1- */
}

[class^="web-icon-"], [class*=" web-icon-"] {
  font-family: 'web-icon' !important;
  font-size: 20px;
  font-display: swap;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.web-icon-search:before { content: "\ea01"; }
.web-icon-persons:before { content: "\ea02"; }
.web-icon-arrow-down:before { content: "\ea03"; }
.web-icon-system:before { content: "\ea04"; }
.web-icon-refine:before { content: "\ea05"; }
.web-icon-microsoft:before { content: "\ea06"; }
.web-icon-platform:before { content: "\ea07"; }
.web-icon-vue:before { content: "\ea08"; }
.web-icon-rust:before { content: "\ea09"; }
.web-icon-chevron-down:before { content: "\ea0a"; }
.web-icon-firebase:before { content: "\ea0b"; }
.web-icon-github:before { content: "\ea0c"; }
.web-icon-ticket:before { content: "\ea0d"; }
.web-icon-sparkle:before { content: "\ea0e"; }
.web-icon-divider-vertical:before { content: "\ea0f"; }
.web-icon-nuxt:before { content: "\ea10"; }
.web-icon-chevron-up:before { content: "\ea11"; }
.web-icon-ycombinator:before { content: "\ea12"; }
.web-icon-x:before { content: "\ea13"; }
.web-icon-textmagic:before { content: "\ea14"; }
.web-icon-daily-dev:before { content: "\ea15"; }
.web-icon-chevron-right:before { content: "\ea16"; }
.web-icon-instagram:before { content: "\ea17"; }
.web-icon-ext-link:before { content: "\ea18"; }
.web-icon-arrow-right:before { content: "\ea19"; }
.web-icon-edge:before { content: "\ea1a"; }
.web-icon-download:before { content: "\ea1b"; }
.web-icon-dark:before { content: "\ea1c"; }
.web-icon-bluesky:before { content: "\ea1d"; }
.web-icon-plus:before { content: "\ea1e"; }
.web-icon-check:before { content: "\ea1f"; }
.web-icon-close:before { content: "\ea20"; }
.web-icon-copy:before { content: "\ea21"; }
.web-icon-terraform:before { content: "\ea22"; }
.web-icon-message:before { content: "\ea23"; }
.web-icon-play:before { content: "\ea24"; }
.web-icon-remix:before { content: "\ea25"; }
.web-icon-skills:before { content: "\ea26"; }
.web-icon-hamburger-menu:before { content: "\ea27"; }
.web-icon-google:before { content: "\ea28"; }
.web-icon-rest:before { content: "\ea29"; }
.web-icon-star:before { content: "\ea2a"; }
.web-icon-mailgun:before { content: "\ea2b"; }
.web-icon-regions:before { content: "\ea2c"; }
.web-icon-youtube:before { content: "\ea2d"; }
.web-icon-command:before { content: "\ea2e"; }
.web-icon-logout-right:before { content: "\ea2f"; }
.web-icon-tanstack:before { content: "\ea30"; }
.web-icon-location:before { content: "\ea31"; }
.web-icon-arrow-up:before { content: "\ea32"; }
.web-icon-linkedin:before { content: "\ea33"; }
.web-icon-arena:before { content: "\ea34"; }
.web-icon-twitter:before { content: "\ea35"; }
.web-icon-customize:before { content: "\ea36"; }
.web-icon-discord:before { content: "\ea37"; }
.web-icon-calendar:before { content: "\ea38"; }
.web-icon-arrow-left:before { content: "\ea39"; }
.web-icon-sendgrid:before { content: "\ea3a"; }
.web-icon-pop-locations:before { content: "\ea3b"; }
.web-icon-product-hunt:before { content: "\ea3c"; }
.web-icon-appwrite:before { content: "\ea3d"; }
.web-icon-arrow-ext-link:before { content: "\ea3e"; }
.web-icon-logout-left:before { content: "\ea3f"; }
.web-icon-external-icon:before { content: "\ea40"; }
.web-icon-apple:before { content: "\ea41"; }
.web-icon-tiktok:before { content: "\ea42"; }
.web-icon-minus:before { content: "\ea43"; }
.web-icon-chevron-left:before { content: "\ea44"; }
.web-icon-light:before { content: "\ea45"; }
.web-icon-mcp:before { content: "\ea46"; }

$web-icon-search: "\ea01";
$web-icon-persons: "\ea02";
$web-icon-arrow-down: "\ea03";
$web-icon-system: "\ea04";
$web-icon-refine: "\ea05";
$web-icon-microsoft: "\ea06";
$web-icon-platform: "\ea07";
$web-icon-vue: "\ea08";
$web-icon-rust: "\ea09";
$web-icon-chevron-down: "\ea0a";
$web-icon-firebase: "\ea0b";
$web-icon-github: "\ea0c";
$web-icon-ticket: "\ea0d";
$web-icon-sparkle: "\ea0e";
$web-icon-divider-vertical: "\ea0f";
$web-icon-nuxt: "\ea10";
$web-icon-chevron-up: "\ea11";
$web-icon-ycombinator: "\ea12";
$web-icon-x: "\ea13";
$web-icon-textmagic: "\ea14";
$web-icon-daily-dev: "\ea15";
$web-icon-chevron-right: "\ea16";
$web-icon-instagram: "\ea17";
$web-icon-ext-link: "\ea18";
$web-icon-arrow-right: "\ea19";
$web-icon-edge: "\ea1a";
$web-icon-download: "\ea1b";
$web-icon-dark: "\ea1c";
$web-icon-bluesky: "\ea1d";
$web-icon-plus: "\ea1e";
$web-icon-check: "\ea1f";
$web-icon-close: "\ea20";
$web-icon-copy: "\ea21";
$web-icon-terraform: "\ea22";
$web-icon-message: "\ea23";
$web-icon-play: "\ea24";
$web-icon-remix: "\ea25";
$web-icon-skills: "\ea26";
$web-icon-hamburger-menu: "\ea27";
$web-icon-google: "\ea28";
$web-icon-rest: "\ea29";
$web-icon-star: "\ea2a";
$web-icon-mailgun: "\ea2b";
$web-icon-regions: "\ea2c";
$web-icon-youtube: "\ea2d";
$web-icon-command: "\ea2e";
$web-icon-logout-right: "\ea2f";
$web-icon-tanstack: "\ea30";
$web-icon-location: "\ea31";
$web-icon-arrow-up: "\ea32";
$web-icon-linkedin: "\ea33";
$web-icon-arena: "\ea34";
$web-icon-twitter: "\ea35";
$web-icon-customize: "\ea36";
$web-icon-discord: "\ea37";
$web-icon-calendar: "\ea38";
$web-icon-arrow-left: "\ea39";
$web-icon-sendgrid: "\ea3a";
$web-icon-pop-locations: "\ea3b";
$web-icon-product-hunt: "\ea3c";
$web-icon-appwrite: "\ea3d";
$web-icon-arrow-ext-link: "\ea3e";
$web-icon-logout-left: "\ea3f";
$web-icon-external-icon: "\ea40";
$web-icon-apple: "\ea41";
$web-icon-tiktok: "\ea42";
$web-icon-minus: "\ea43";
$web-icon-chevron-left: "\ea44";
$web-icon-light: "\ea45";
$web-icon-mcp: "\ea46";
