.DS_Store
node_modules
/build
/.svelte-kit
/.idea
/.zed
/package
.env
.env.*
.envrc
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
.tool-versions
.vscode
# Sentry Config File
.sentryclirc
.history
terraform/**/.t*
terraform/**/.env
terraform/**/**/*.tfstate*
/.cache
