.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
deploy

# Ignore files for PNPM, NPM and YARN
bun.lock
*.scss

# Assets
*.jpg
*.png
*.webp
*.avif

# Media
*.mp3
*.wav
*.mp4
*.mpv
