version: '3.8'

services:
  traefik:
    image: traefik:2.9
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --providers.docker.constraints=Label(`traefik.constraint-label-stack`,`homepage`)
      - --accesslog=true
    ports:
      - 80:80
      - 8080:8080
    volumes:
      - /letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - homepage

  homepage:
    image: homepage-dev
    build:
      context: .
    restart: always
    networks:
      - homepage
    labels:
      - traefik.enable=true
      - traefik.constraint-label-stack=homepage
      - traefik.docker.network=homepage
      - traefik.http.services.homepage.loadbalancer.server.port=3000
      #http
      - traefik.http.routers.homepage.entrypoints=web
      - traefik.http.routers.homepage.rule=PathPrefix(`/`)
      - traefik.http.routers.homepage.service=homepage
      # https
      - traefik.http.routers.homepage_secure.entrypoints=websecure
      - traefik.http.routers.homepage_secure.rule=PathPrefix(`/`)
      - traefik.http.routers.homepage_secure.service=homepage
      - traefik.http.routers.homepage_secure.tls=true

networks:
  homepage: