@use '../abstract' as *;
@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Air.woff2') format('woff2');
}

@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Aenoik Fono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Aeonik Fono'), local('AeonikFono'), url('/fonts/aeonik-fono/AeonikFono-Black.woff2') format('woff2');
}