@use '../abstract' as *;

.#{$p}-box-icon {
  --p-box-icon-bg-color: var(--web-color-white);
  --p-box-icon-shadow: 0px 5.352085113525391px 10.704170227050781px 0px rgba(0, 0, 0, 0.02);

  background-color: hsl(var(--p-box-icon-bg-color));
  box-shadow: var(--p-box-icon-shadow);

  display:grid; place-items:center; inline-size:pxToRem(56); block-size:pxToRem(56);
  border-radius:pxToRem(8);

  -webkit-backdrop-filter:blur(pxToRem(16));
  backdrop-filter:blur(pxToRem(16));

  #{$theme-dark} & {
    --p-box-icon-bg-color: var(--web-color-greyscale-850);
  }

  &.has-border-gradient {
    @include border-gradient;
    --m-border-radius: #{pxToRem(8)};
    --m-border-size: #{pxToRem(1)};
    border: none;
    --m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.00) 100%);

    &.is-transparent-pink {
      --m-border-gradient-before: linear-gradient(180deg, rgba(253, 54, 110, 0.48) 0%, rgba(253, 54, 110, 0.00) 100%);
      --m-border-gradient-after: radial-gradient(42.86% 42.86% at 50.55% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
    }
  }

}