@use '../abstract' as *;

.#{$p}-btn-tag {
  --p-tag-text-color: var(--web-color-primary);
  --p-tag-bg-color: var(--web-color-greyscale-100);
  --p-tag-border-color: var(--p-tag-bg-color);
  

  color: hsl(var(--p-tag-text-color));
  background-color: hsl(var(--p-tag-bg-color));
  border: 1px solid hsl(var(--p-tag-border-color));

  padding-block: pxToRem(4);
  padding-inline: pxToRem(8);
  border-radius: pxToRem(12);
  font-size: var(--web-font-size-micro);
  line-height: var(--web-line-height-tiny);

  #{$theme-dark} & {
    --p-tag-bg-color: var(--web-color-greyscale-750);

    &:where(:hover) {
      --p-tag-bg-color: var(--web-color-greyscale-700);
    }

    &:where(:active) {
      --p-tag-bg-color: var(--web-color-greyscale-800);
    }

    &:where(.is-selected) {
      --p-tag-border-color: var(--web-color-white);
    }

    &:where(:disabled) {
      --p-tag-bg-color: var(--web-color-greyscale-800);
    }
  }
}