@use '../abstract' as *;

.#{$p}-card {
  --p-card-padding: var(--card-padding, #{pxToRem(24)});
  --p-card-border-radius: var(--card-border-radius, var(--border-radius-medium));
  &.is-white {
    padding:var(--p-card-padding);
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.64) 100%);
    backdrop-filter: blur(12px);
    border-radius: var(--p-card-border-radius);
  }
  &.is-transparent {
    --p-card-padding: var(--card-padding, #{pxToRem(32)});
    padding: var(--p-card-padding);
    border:solid pxToRem(1) rgba(255 255 255 / 0.12);
    border-radius:pxToRem(16);
    backdrop-filter:blur(100px);
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 30.91%, rgba(255, 255, 255, 0.00) 100%, rgba(255, 255, 255, 0.01) 100%);
    &-pink {
      background: linear-gradient(180deg, rgba(253, 54, 110, 0.04) 61.28%, rgba(253, 54, 110, 0.00) 100%);
      border-color:hsl(var(--aw-color-pink-500) / 0.5);
    }
  }
  &.is-full-color {
    --card-bg-color: var(--aw-color-neutral-0);
    padding:pxToRem(20); border-radius:pxToRem(16);
    background-color:hsl(var(--card-bg-color)) / 0.9; backdrop-filter:blur(pxToRem(8));
    border:solid pxToRem(1) hsl(var(--aw-color-subtle));

    #{$theme-dark} & {
      --card-bg-color: var(--aw-color-neutral-850);
    }
  }

  &.has-border-gradient {
    @include border-gradient;
    --m-border-radius: var(--p-card-border-radius);
    --m-border-size: #{pxToRem(1)};
    border: none;

    &::before {
      --m-border-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &.is-transparent-pink {
      &::before {
        --m-border-gradient: linear-gradient(180deg, rgba(253, 54, 110, 0.48) 0%, rgba(253, 54, 110, 0.00) 100%);
      }
      &::after {
        --m-border-gradient: radial-gradient(42.86% 42.86% at 50.55% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
      }
    }
  }
}