@use '../abstract' as *;

.#{$p}-container {
  --p-container-size: var(--container-size, var(--container-size-normal));
  box-sizing: content-box;
  max-inline-size: var(--p-container-size);
  padding-inline: pxToRem(32);
  margin-inline: auto;
  @media #{$break1}, #{$break2} { padding-inline: pxToRem(20); }
}


.#{$p}-main-section {
  > * { padding-block:pxToRem(24); }
  >:first-child { padding-block-start:0; }
  >:last-child  { padding-block-end:0; }
}

.#{$p}-big-padding-section {
  display:grid;
  grid-template-columns: minmax(0, 1fr);

  &-level-1 {
    @media #{$break1}, #{$break2} {
      padding-block:pxToRem(0);
      &:first-child { padding-block-start:pxToRem(0); }
    }
    @media #{$break3open} {
      padding-block:pxToRem(40);
      &:first-child { padding-block-start:pxToRem(0); }
    }
    &:last-child {
      padding-block-end:0!important;
      .#{$p}-big-padding-section-level-2:last-child { padding-block-end:0!important; margin-block-end:0!important; }
    }
  }
  &-level-2 {
    /* level 2 */
    @media #{$break1}, #{$break2} { margin-block:pxToRem(48); }
    @media #{$break3open} { margin-block:pxToRem(120); }

    &.is-margin-replace-padding {
      margin-block:0;
      @media #{$break1}, #{$break2} { padding-block:pxToRem(48); }
      @media #{$break3open} { padding-block:pxToRem(120); }
    }
  }

}