@use '../abstract' as *;

.#{$p}-container {
  box-sizing: content-box;
  max-inline-size: var(--container-size-large);
  padding-inline: pxToRem(32);
  margin-inline: auto;
}

.main-section {
  > * { padding-block:pxToRem(24); }
  >:first-child { padding-block-start:0; }
}