@use '../abstract' as *;

.#{$p}-container {
  --p-container-size: var(--container-size, var(--container-size-normal));
  box-sizing: content-box;
  max-inline-size: var(--p-container-size);
  padding-inline: pxToRem(32);
  margin-inline: auto;
}

.#{$p}-main-section {
  > * { padding-block:pxToRem(24); }
  >:first-child { padding-block-start:0; }
}