@use '../abstract' as *;

.#{$p}-gradient-text {
  display:block;
  background: radial-gradient(circle at bottom -80% left 0, #F8A1BA 0%, #fff);
  -webkit-background-clip:text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
  backdrop-filter: blur(8px);
}