@use '../abstract' as *;

.#{$p}-hero-banner-button {
  @include border-gradient;
  --m-border-gradient-before: linear-gradient(
    to bottom,
    rgba(253, 54, 110, 0.48) 0%,
    rgba(253, 54, 110, 0) 180%
  );
  --m-border-gradient-after: radial-gradient(
    42.86% 42.86% at 50.55% -0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --m-border-radius: #{pxToRem(14)};


  --p-hero-button-text-color: var(--p-hero-button-text-color-default);
  --p-hero-button-bg-color: var(--p-hero-button-bg-color-default);
  --p-hero-button-border-color: var(--p-hero-button-border-color-default);
  --p-hero-button-shadow-out-color: var(--p-hero-button-shadow-out-color-default);
  --p-hero-button-sep-color: var(--p-hero-button-sep-color-default);

  --p-hero-button-text-color-default: var(--web-color-pink-500);
  --p-hero-button-bg-color-default: var(--web-color-pink-500) / 0.08;
  --p-hero-button-border-color-default: var(--web-color-pink-500) / 0.4;
  --p-hero-button-shadow-out-color-default: var(--transparent);
  --p-hero-button-sep-color-default: var(--web-color-black) / 0.08;

  --p-hero-button-bg-color-hover: var(--web-color-pink-500) / 0.10;

  --p-hero-button-bg-color-active: var(--web-color-pink-500) / 0.12;

  --p-hero-button-shadow-out-color-focus: var(--web-color-pink-500) / 0.24 ;

  display:flex; align-items:baseline; gap:pxToRem(4);
  padding-block:pxToRem(4); padding-inline:pxToRem(8); inline-size:fit-content;
  background:hsl(var(--p-hero-button-bg-color));
  
  line-height:pxToRem(20); 
  color:hsl(var(--p-hero-button-text-color));
  box-shadow:0 0 0 pxToRem(4) hsl(var(--p-hero-button-shadow-out-color));

  > * { min-inline-size:0; }
  [class*="icon"] { align-self:center; }
  &-sep {
    inline-size:pxToRem(1); block-size:pxToRem(16); align-self:center;  margin-inline:pxToRem(4);
    background-color:hsl(var(--p-hero-button-sep-color));
  }

  &:hover:not(:disabled) {
    --p-hero-button-bg-color: var(--p-hero-button-bg-color-hover);
  }
  &:active:not(:disabled) {
    --p-hero-button-bg-color: var(--p-hero-button-bg-color-active);
  }
  &:focus-visible {
    --p-hero-button-shadow-out-color: var(--p-hero-button-shadow-out-color-focus);
  }
  &:disabled { opacity:0.4; }

  #{$theme-dark} & {
    --p-hero-button-text-color-default: var(--web-color-white);
    --p-hero-button-bg-color-default: var(--web-color-pink-500) / 0.08;
    --p-hero-button-border-color-default: var(--web-color-pink-500);

    --p-hero-button-sep-color-default: var(--web-color-white) / 0.10;

    --p-hero-button-shadow-out-color-focus: var(--web-color-pink-500) / 0.16;
  }
}