@use '../abstract' as *;

.#{$p}-icon-button {
  @mixin light-mode() {
    /* icon */
    --p-icon-button-icon-color-default: var(--aw-color-secondary);
    --p-icon-button-icon-color-hover: var(--aw-color-pink-500);

    /* background color */
    --p-icon-button-bg-color-default: var(--aw-color-white) / 0.64;

    /* border color */
    --p-icon-button-border-color-default: var(--transparent);
    --p-icon-button-border-color-focus: var(--aw-color-pink-500);

    /* box shadow color */
    --p-icon-button-shadow-color-default: var(--transparent);
    --p-icon-button-shadow-color-focus: var(--aw-color-pink-500) / 0.16;
  }
  @mixin dark-mode() {
    /* icon */
    --p-icon-button-icon-color-hover: var(--aw-color-greyscale-50);

    /* background color */
    --p-icon-button-bg-color-default: var(--aw-color-white) / 0.08;

    /* border color */
    --p-icon-button-border-color-focus: var(--aw-color-greyscale-50);

    /* box shadow color */
    --p-icon-button-shadow-color-default: var(--transparent);
    --p-icon-button-shadow-color-focus: var(--aw-color-white) / 0.16;
  }
  @include light-mode();
  --p-icon-button-icon-color: var(--p-icon-button-icon-color-default);
  --p-icon-button-bg-color: var(--p-icon-button-bg-color-default);
  --p-icon-button-border-color: var(--p-icon-button-border-color-default);
  --p-icon-button-shadow-color: var(--p-icon-button-shadow-color-default);
  display:grid; place-content:center;
  inline-size:pxToRem(28); block-size:pxToRem(28);
  background-color: hsl(var(--p-icon-button-bg-color));
  border:solid pxToRem(1) hsl(var(--p-icon-button-border-color));
  border-radius:pxToRem(8); transition:var(--transition);
  box-shadow: 0 0 0 pxToRem(4) hsl(var(--p-icon-button-shadow-color));

  &:hover {
    --p-icon-button-icon-color: var(--p-icon-button-icon-color-hover);
  }
  &:focus-visible {
    --p-icon-button-border-color: var(--p-icon-button-border-color-focus);
    --p-icon-button-shadow-color: var(--p-icon-button-shadow-color-focus);
  }
  &:disabled { opacity:0.4; }

  #{$theme-dark} & {
    @include dark-mode();
  }

  #{$theme-light} & {
    @include light-mode();
  }
}