@use '../abstract' as *;

.#{$p}-icon-button {
  display: flex;
  gap: pxToRem(4);
  position: relative;
  block-size:pxToRem(28);
  inline-size:pxToRem(28); 

  border: 1px solid transparent;
	border-radius: pxToRem(8);

  > [class*='icon'] {
   position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.is-more-content {
    inline-size:fit-content; padding:pxToRem(4); line-height:pxToRem(18);
    > [class*='icon'] { inline-size:pxToRem(16); }
  }


  @mixin light-mode() {
		background: hsl(var(--aw-color-smooth));
		backdrop-filter: blur(pxToRem(7.5));
		-webkit-backdrop-filter: blur(pxToRem(7.5));
    color: hsl(var(--aw-color-primary));

		&:focus-visible:not(:disabled) {
			border-color: hsl(var(--aw-color-accent-click));
			background: hsl(var(--aw-color-offset));
			box-shadow: 0px 0px 0px 4px rgba(253, 54, 110, 0.16);
			color: hsl(var(--aw-color-primary));
		}

    &:hover:not(:disabled) {
      background: hsl(var(--aw-color-offset));
      backdrop-filter: blur(pxToRem(7.5));
      color: hsl(var(--aw-color-accent-click));
    }

    &:active:not(:disabled) {
      background: hsl(var(--aw-color-smooth));
      backdrop-filter: blur(pxToRem(7.5));
      color: hsl(var(--aw-color-accent-click));
    }

    
  }

  @mixin dark-mode() {
    background: hsl(var(--aw-color-smooth));
		backdrop-filter: blur(pxToRem(7.5));
		-webkit-backdrop-filter: blur(pxToRem(7.5));
		color: hsl(var(--aw-color-primary));

		&:focus-visible:not(:disabled) {
			border-color: hsl(var(--aw-color-primary));
			background: hsl(var(--aw-color-offset));
			box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.16);
			color: hsl(var(--aw-color-accent-click));
		}

    &:hover:not(:disabled) {
      background: hsl(var(--aw-color-offset));
      color: hsl(var(--aw-color-accent-click));
    }

    &:active:not(:disabled) {
      background: hsl(var(--aw-color-smooth));
      color: hsl(var(--aw-color-accent-click));
    }

  }

  @include light-mode();


  
  #{$theme-dark} & {
    @include dark-mode();
  }
  
  #{$theme-light} & {
    @include light-mode();
  }
  
  &:disabled {
    opacity: 0.4;
		cursor: not-allowed;
  } 

}