@use '../abstract' as *;

.#{$p}-kbd {
  --p-kbd-text-color: var(--web-color-greyscale-700);
  --p-kbd-bg-color: var(--web-color-black) / 0.08;

  color: hsl(var(--p-kbd-text-color));
  background-color: hsl(var(--p-kbd-bg-color));

  display:inline-flex; justify-content:center; align-items:center;
  min-inline-size:pxToRem(24); block-size:pxToRem(24);
  padding-inline: pxToRem(3.5);
  border-radius:pxToRem(4); flex-shrink:0;
  -webkit-user-select:none; user-select:none;

  #{$theme-dark} & {
    --p-kbd-text-color: var(--web-color-greyscale-100);
    --p-kbd-bg-color: var(--web-color-white) / 0.18;
  }
}