@use '../abstract' as *;
@use '../6-elements/text-tokens' as *;

.#{$p}-link {
  --p-link-color-text: var(--p-link-color-text-default);
  --p-link-color-text-default: var(--web-color-primary);
  --p-link-color-text-hover: var(--web-color-accent-darker);
  --p-link-color-text-active: var(--web-color-accent);
  --p-link-color-text-focus-visible: var(--web-color-accent-click);
  display: inline-block;


  background-size: 100% 1px;

  text-decoration-thickness: pxToRem(.25);
  text-underline-offset: pxToRem(5);

  color: hsl(var(--p-link-color-text));
  /* display:inline-flex; gap:pxToRem(4); */ /* made issues on long links that break into new line */
  border-radius:pxToRem(4); cursor:pointer;

  &:where(:is(:hover):not(#{$disabled})) { --p-link-color-text:var(--p-link-color-text-hover); }
  &:where(:is(:active):not(#{$disabled})) { --p-link-color-text:var(--p-link-color-text-active); }
  &:where(#{$disabled}) { opacity:0.4; cursor:initial; }
  &:where(:focus-visible) {
    --p-link-color-text: var(--p-link-color-text-focus-visible);
    outline:pxToRem(1) solid hsl(var(--p-link-color-text-focus-visible)); outline-offset:0.125rem; box-shadow:none;
  }

  &.is-inline { text-decoration:underline; }
  &.is-secondary { --p-link-color-text-default: var(--web-color-secondary); }
  &.is-pink { --p-link-color-text-default: var(--web-color-accent); }
}

