@use '../abstract' as *;

.#{$p}-list {
  --p-list-text-color: var(--web-color-greyscale-700);
  color: hsl(var(--p-list-text-color));

  display:flex; flex-direction:column; gap:pxToRem(4);
  li {
    display:flex;
    &::before {
      content:""; align-self:start;
      inline-size:pxToRem(8); block-size:pxToRem(1);
      margin-inline:pxToRem(6); margin-block-start:pxToRem(12);
      background-color:currentColor;
    }
  }
  #{$theme-dark} & { --p-list-text-color:var(--web-color-greyscale-300); }
}

.#{$p}-numeric-list {
  --p-list-text-color: var(--web-color-greyscale-700);
  display:flex; flex-direction:column; gap:pxToRem(8);
  color: hsl(var(--p-list-text-color));
  counter-reset: numeric-list;
  li::before {
    color:hsl(var(--web-color-accent-click)); padding-inline-end:pxToRem(12);
    line-height:var(--web-line-height-md);
  }
  >li {
    display:flex;
    line-height: var(--web-line-height-md);
    &::before {
      counter-increment: numeric-list;
      content:counter(numeric-list); align-self:start;
    }
  }
  .#{$p}-numeric-list {
    counter-reset: numeric-list-level-2;
    padding-inline-start: pxToRem(24);
    >li {
      &::before {
        color:revert;
        counter-increment: numeric-list-level-2;
        content:counter(numeric-list-level-2, upper-latin);
      }
    }
    .#{$p}-numeric-list {
      counter-reset: numeric-list-level-3;
      >li {
        &::before {
          counter-increment: numeric-list-level-3;
          content:counter(numeric-list-level-3, lower-latin);
        }
      }
    }
  }
  #{$theme-dark} & { --p-list-text-color:var(--web-color-greyscale-300); }
}

.#{$p}-checked-list {
  --p-list-text-color: var(--web-color-greyscale-700);
  color: hsl(var(--p-list-text-color));

  display:flex; flex-direction:column; gap:pxToRem(8);
  counter-reset: numeric-list;
  li {
    display:flex; gap:pxToRem(8);
  }
  [type="checkbox"] { cursor:initial; }
  #{$theme-dark} & { --p-list-text-color:var(--web-color-greyscale-300); }
}

.#{$p}-checked-list-circle {
  display:flex; flex-direction:column; gap:pxToRem(20);
  li {
    display:flex; align-items: start; gap:pxToRem(8);
    &::before { @include checked-badge; }
  }
}

.#{$p}-pink-dots {
  display:flex; flex-direction:column; gap:pxToRem(8);
  list-style:disc; padding-inline-start:pxToRem(24);
  > li {
    display:list-item; list-style-type:disc;
    &::marker { content:revert; color:hsl(var(--web-color-pink-500)); }
  }
  .#{$p}-pink-dots {
    margin-block-start:0!important;
    > li { list-style-type:circle; }
    .#{$p}-pink-dots {
      > li {
        list-style-type:disclosure-closed;
        &::marker { font-size:0.8em; }
      }
    }
  }
}