@use '../abstract' as *;

.#{$p}-media-container {
  @include border-gradient;
  --m-border-gradient-before: linear-gradient(186deg, rgba(255, 255, 255, 0.16) -1.41%, rgba(255, 255, 255, 0.00) 104.86%);
  --p-media-container-border-radius:#{pxToRem(24)};
  --m-border-radius: var(--p-media-container-border-radius);

  --p-media-container-border-padding:#{pxToRem(8)};

  --p-media-border-radius: calc(var(--p-media-container-border-radius) - var(--p-media-container-border-padding));

  padding: var(--p-media-container-border-padding);
  border-radius: var(--p-media-container-border-radius);

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.06) 61.12%, rgba(255, 255, 255, 0.10) 100%);

  -webkit-backdrop-filter: blur(pxToRem(25));
  backdrop-filter: blur(pxToRem(25));

  > * { display:block; border-radius:var(--p-media-border-radius); overflow:hidden; width: 100%; object-fit: cover; }
}