@use '../abstract' as *;

.#{$p}-media-container {
  --p-media-container-border-padding:#{pxToRem(7)};
  --p-media-container-border-radius:#{pxToRem(20)};

  --p-media-border-radius: #{pxToRem(16)};

  padding: var(--p-media-container-border-padding);
  border-radius: var(--p-media-container-border-radius);

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.06) 61.12%, rgba(255, 255, 255, 0.10) 100%);

  -webkit-backdrop-filter: blur(pxToRem(25));
  backdrop-filter: blur(pxToRem(25));

  > * { display:block; border-radius:var(--p-media-border-radius); overflow:hidden; }
}