@use '../abstract' as *;

.#{$p}-metadata {
  display: flex;
  color: hsl(var(--web-color-secondary));
  > * { display:flex; }
  > *:nth-child(n+2)::before {
    content:"•"; display:block; margin-inline:pxToRem(4);
  }
  button > * { vertical-align:super; }
}