@use '../abstract' as *;

/* based on Pink Design */
[type="checkbox"],
[type="radio"] {
  --p-icon-color-default:     var(--web-color-greyscale-100);
  --p-bg-color-default:       var(--web-color-greyscale-100);
  --p-border-color-default:   var(--web-color-greyscale-100);

  --p-bg-color-checked: var(--web-color-greyscale-750);
  --p-border-color-checked: var(--web-color-greyscale-750);

  &:where(.is-checked)   {
    --p-bg-color:     var(--p-bg-color-checked);
    --p-border-color: var(--p-border-color-checked);
  }

  /* Same here to be sure Pink can't override dark-mode */
  #{$theme-dark} & {
    --p-icon-color-default:     var(--web-color-greyscale-100);
    --p-bg-color-default:       var(--web-color-greyscale-100);
    --p-border-color-default:   var(--web-color-greyscale-100);

    --p-bg-color-checked: var(--web-color-greyscale-750);
    --p-border-color-checked: var(--web-color-greyscale-750);
  }
}