@use '../abstract' as *;

.#{$p}-sub-title {
  align-self: center;
  padding-block:pxToRem(6); padding-inline:pxToRem(12); border-radius:pxToRem(6);
  background: linear-gradient(175deg, hsl(var(--aw-color-primary-100)) 25.03%, hsl(var(--aw-color-secondary-100)) 100%);
  backdrop-filter:blur(41.45833206176758px); font-size:pxToRem(14); text-transform:uppercase;
  #{$white-section} & {
    color: hsl(var(--color-neutral-0));
  }
}