@use '../abstract' as *;

.#{$p}-tag {
  --p-tag-text-color: var(--web-color-primary);
  --p-tag-bg-color: var(--web-color-greyscale-100);

  color: hsl(var(--p-tag-text-color));
  background-color: hsl(var(--p-tag-bg-color));

  padding-block: pxToRem(4);
  padding-inline: pxToRem(8);
  border-radius: pxToRem(12);
  font-size: var(--web-font-size-micro);
  line-height: var(--web-line-height-tiny);

  #{$theme-dark} & {
    --p-tag-bg-color: var(--web-color-greyscale-750);
  }
}