@use '../abstract' as *;

.#{$p}-tooltip {
    --p-tooltip-bg: rgba(47, 48, 49, 1);
    --p-tooltip-color: rgba(228, 228, 231, 1);

    font-size: pxToRem(16);
    color: var(--p-tooltip-color);
    background-color: var(--p-tooltip-bg);
    padding: pxToRem(8) pxToRem(12);
    border-radius: pxToRem(8);
    -webkit-backdrop-filter: blur(pxToRem(16));
    backdrop-filter: blur(pxToRem(16));
    box-shadow:  0 pxToRem(1) pxToRem(20) pxToRem(3) rgb(0 0 0 / 0.1);
    z-index: 999;
}