@use '../abstract' as *;

.#{$p}-category-header {
  display:flex; flex-direction:column;
  &-content { display:flex; flex-direction:column; gap:pxToRem(12); align-items:flex-start; }
  &-title { max-inline-size:100%; text-wrap:balance; margin:0; }
  &-description { max-inline-size:pxToRem(640); margin:0; }

  @media #{$break1} {
    .#{$p}-input-text-search-wrapper { margin-block-start:pxToRem(24); }
  }
  @media #{$break4open} {
    &-content { flex-direction:row; align-items:flex-start; }
    &-title { flex:1 1 auto; white-space:nowrap; }
    &-description { flex:0 0 pxToRem(520); padding-block-start:pxToRem(10); }
  }
  @media #{$break4open} {
    &-content { justify-content:space-between; }
    .#{$p}-input-text-search-wrapper { align-self:end; margin-block-start:pxToRem(40); }
  }
}

.#{$p}-category-page {
  margin-block-end:0;
  padding-block-end:0;
}
