@use '../abstract' as *;

.#{$p}-grid-articles {
  --p-grid-articles-item-border-color: var(--p-grid-articles-item-border-color-default);
  --p-grid-articles-item-border-color-default: var(--web-color-smooth);

  --p-grid-articles-item-bg-color: var(--p-grid-articles-item-bg-color-default);
  --p-grid-articles-item-bg-color-default: var(--web-color-white);

  --p-grid-articles-width: #{pxToRem(280)};

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--p-grid-articles-width), 1fr));
  grid-auto-columns:minmax(var(--p-grid-articles-width), 1fr);

  &.is-medium { --p-grid-articles-width: #{pxToRem(320)}; }
  &.is-big    { --p-grid-articles-width: #{pxToRem(360)}; }

  &-scroll {
    container-type:inline-size; container-name:grid-articles;
    .#{$p}-grid-articles-item {}
  }
  &-item {
    &:not(.is-transparent) {
      @include border-gradient;
      --m-border-gradient-before: linear-gradient(180deg,
      rgba(255, 255, 255, 0.12) 0%, 
      rgba(255, 255, 255, 0.01) 100%);
      --m-border-radius: #{pxToRem(16)};
    }


    display:flex; flex-direction:column; min-block-size:100%;
    padding:pxToRem(8); padding-block-end:pxToRem(12);

    background-color:hsl(var(--p-grid-articles-item-bg-color));
    transition:var(--transition); 

    &-image {
      overflow:hidden; border-radius:pxToRem(8);
      
      > * {
        display: block;
        transition:var(--transition); 
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.is-transparent {
      padding: 0;
      background-color: transparent;


    }

    &-content { display:flex; flex-direction:column; gap:pxToRem(4); padding:pxToRem(12);
    
      .is-transparent & {
        gap: pxToRem(16);
        padding-inline: 0;
        padding-block-start: pxToRem(24);
      }
    }

    &:where(:hover, :focus) {
      .#{$p}-grid-articles-item {
        &-image {
          > * { scale:1.05; }
        }
      }
    }
  }

  #{$theme-dark} & {
    --p-grid-articles-item-border-color-default: var(--web-color-white)  / 0.2;
    --p-grid-articles-item-bg-color-default: var(--web-color-white)  / 0.06;
  }

  @media #{$break1}     { gap:pxToRem(32); }
  @media #{$break2open} { gap:pxToRem(48); }
}
