@use '../abstract' as *;

.#{$p}-main-article {
  &-header {
    position:relative;
    display:flex; flex-direction:column; gap:pxToRem(8);
    margin-block-end:pxToRem(32);
    @media #{$break2open} {
      padding-block-end:pxToRem(32); border-block-end:solid pxToRem(1) hsl(var(--web-color-border));
    }
    @media #{$break3open} {
      .#{$p}-link {
        position:absolute; 
        inset-inline-end:calc(100% + #{pxToRem(74)});
        white-space:nowrap;
      }
    }
  }

  @media #{$break2open} {
    .#{$p}-media-container { margin-inline:pxToRem(-55); }
  }
}