// Responsive Variables
$break1: "(max-width:1023.9px)";
$break2: "(min-width:1024px) and (max-width:1279.9px)";
$break2open:"(min-width:1024px)";
$break3: "(min-width:1280px) and (max-width:1439.9px)";
$break3open:"(min-width:1280px)";
$break4open:"(min-width:1440px)";