@use '../abstract' as *;

.#{$p}-grid-4-6 {
  > * { min-inline-size:0; }
  @media #{$break1}, #{$break2}, #{$break3} {
    display:flex; flex-direction:column; gap:pxToRem(64);
  }
  @media #{$break4open} {
    display:grid; grid-template-columns:4fr 6fr; gap:pxToRem(80);
  }
}