@use '../abstract' as *;

.#{$p}-grid-2-1 {
  @media #{$break1} {
    display: flex;
    flex-direction: column;
  }
  @media #{$break2open} {
    display: grid;
    gap: pxToRem(32);
    grid-template-columns: 7fr 1fr 4fr;
    grid-template-areas:  "header  . buttons"
                          "content . side";
    .web-grid-area-header  { grid-area:header; }
    .web-grid-area-buttons { grid-area:buttons; }
    .web-grid-area-content { grid-area:content; }
    .web-grid-area-side    { grid-area:side;    }
  }
}