@use '../abstract' as *;

.#{$p}-grid-1-1 {
  display: grid;
  @media #{$break3open} {
    grid-template-columns: repeat(2, 1fr);

  }
}

.#{$p}-grid-1-1-opt-2 {
  display: grid;
  @media #{$break2open} {
    grid-template-columns: repeat(2, 1fr);

  }
}