@use '../abstract' as *;

.#{$p}-grid-2c-4c {
  --p-column-gap-mobile: var(--column-gap-mobile, #{pxToRem(20)});
  --p-row-gap-mobile: var(--row-gap-mobile, #{pxToRem(32)});

  --p-column-gap-desktop: var(--column-gap-desktop, #{pxToRem(32)});
  --p-row-gap-desktop: var(--row-gap-desktop, #{pxToRem(48)});
  display: grid;
  @media #{$break1}, #{$break2} {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--p-column-gap-mobile);
    row-gap: var(--p-row-gap-mobile);
  }
  @media #{$break3open} {
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--p-column-gap-desktop);
    row-gap: var(--p-row-gap-desktop);
  }
}