@use '../abstract' as *;

.#{$p}-grid-2-1 {
  --p-grid-2-1-gap: var(--grid-2-1-gap, 0);
  gap: var(--p-grid-2-1-gap);

  @media (max-width: 850.9px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 851px) {
    --p-grid-1-1-gap-desktop: var(--grid-2-1-gap, 0);
    display: grid;
    gap: var(--p-grid-2-1-gap-desktop);
    grid-template-columns: 2fr 1fr;
  }
}