@use '../abstract' as *;
.aw-grid-3-desktop-1-mobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: pxToRem(32);
  @media #{$break1}, #{$break2} {
    grid-template-columns:1fr;
  }
}