@use '../../abstract' as *;
.#{$p}-code {
  --p-font-family: var(--web-font-family-fira-code);
  --p-font-size: var(--web-font-size-micro);
  --p-line-height: var(--web-line-height-tiny);
  --p-letter-spacing: var(--web-letter-spacing-none);
  --p-font-weight: var(--web-font-weight-regular);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);

  @media #{$break2open} {
    --p-font-size: var(--web-font-size-tiny);
    --p-line-height: var(--web-line-height-xs);
  }
}
