@use '../../abstract' as *;
.#{$p}-code {
  --p-font-family: monospace;
  --p-font-size: var(--aw-font-size-micro);
  --p-line-height: var(--aw-line-height-tiny);
  --p-letter-spacing: var(--aw-letter-spacing-none);
  --p-font-weight: var(--aw-font-weight-regular);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);

  @media #{$break3open} {
    --p-font-size: var(--aw-font-size-tiny);
    --p-line-height: var(--aw-line-height-xs);
  }
}
