@use '../../abstract' as *;
.#{$p}-display {
  --p-font-family: var(--web-font-family-aeonik-pro);
  --p-font-size: var(--web-font-size-big);
  --p-line-height: var(--web-line-height-xl);
  --p-letter-spacing: var(--web-letter-spacing-compressed);
  --p-font-weight: var(--web-font-weight-regular);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);

  @media #{$break2open} {
    --p-font-size: var(--web-font-size-super);
    --p-line-height: var(--web-line-height-xxxl);
  }
}