@forward "eyebrow";
@forward "code";
@forward "caption-400";
@forward "caption-500";
@forward "sub-body-400";
@forward "sub-body-500";
@forward "main-body-400";
@forward "main-body-500";
@forward "paragraph-md";
@forward "paragraph-lg";
@forward "description";
@forward "label";
@forward "title";
@forward "display";
@forward "headline";