@use '../../abstract' as *;
.#{$p}-label {
  --p-font-family: var(--aw-font-family-aeonik-pro);
  --p-font-size: var(--aw-font-size-xl);
  --p-line-height: var(--aw-line-height-md);
  --p-letter-spacing: var(--aw-letter-spacing-none);
  --p-font-weight: var(--aw-font-weight-regular);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);

  @media #{$break2open} {

  }
}