@use '../../abstract' as *;
.#{$p}-main-body-500 {
  --p-font-family: var(--web-font-family-inter);
  --p-font-size: var(--web-font-size-small);
  --p-line-height: var(--web-line-height-xs);
  --p-letter-spacing: var(--web-letter-spacing-tight);
  --p-font-weight: var(--web-font-weight-medium);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);

  @media #{$break2open} {
    --p-font-size: var(--web-font-size-medium);
    --p-line-height: var(--web-line-height-sm);
  }
}