@use '../../abstract' as *;
.#{$p}-paragraph-lg {
  --p-font-family: var(--aw-font-family-inter);
  --p-font-size: var(--aw-font-size-medium);
  --p-line-height: var(--aw-line-height-md);
  --p-letter-spacing: var(--aw-letter-spacing-tight);
  --p-font-weight: var(--aw-font-weight-regular);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);
}