@use '../../abstract' as *;
.#{$p}-title {
  --p-font-family: var(--web-font-family-aeonik-pro);
  --p-font-size: var(--web-font-size-xxl);
  --p-line-height: var(--web-line-height-lg);
  --p-letter-spacing: var(--web-letter-spacing-squeezed);
  --p-font-weight: var(--web-font-weight-regular);

  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: var(--p-font-weight);

  @media #{$break3open} {
    --p-line-height: var(--web-line-height-big);
    --p-font-size: var(--web-font-size-xxxl);
  }
}