@use '../abstract' as *;

.#{$p}-article {
  &-header {
    position:sticky; z-index:18;
    display:flex; justify-content:space-between; gap:pxToRem(32);
    padding-block-start:pxToRem(40); padding-block-end:pxToRem(32);
    background-color:hsl(var(--p-body-bg-color));
    border-block-end:solid pxToRem(1) hsl(var(--web-color-border)); margin-block-end:pxToRem(24);
    &-start { display:flex; align-items:center; gap:pxToRem(16);  }
    &-end { align-self:center; }
    .#{$p}-title { color:hsl(var(--web-color-primary)); }

  }
  &-content {
    display:flex; flex-direction:column; gap:pxToRem(32); color:hsl(var(--web-color-secondary));
    article .#{$p},
    &-spacing-logic .#{$p}{
      &-sub-body-400  { margin-block:pxToRem(16); }
      &-sub-body-500  { margin-block-end:pxToRem(4); }
      &-main-body-500 { margin-block-end:pxToRem(8); }
      &-description   { margin-block-end:pxToRem(16); }
      &-label         { margin-block-end:pxToRem(16); }
      &-paragraph-md  { margin-block-end:pxToRem(32); }
      &-link          { margin-block-end:0 !important; }
      &-code-snippet  { margin-block-start:pxToRem(16); margin-block-end:pxToRem(32); }
      &-card          { margin-block-end:pxToRem(32); }
      &-list,
      &-numeric-list,
      &-pink-dots    { margin-block-end:pxToRem(24); }
      &-blockquote    { margin-block:pxToRem(32); }
      &-table-wrapper { margin-block-end:pxToRem(32); }
      &-media         {
        margin-block-end:pxToRem(32);
        &:not(:first-child) { margin-block-start:pxToRem(16); }
      }
      &-inline-info   { margin-block-end:pxToRem(24); }
      &-code-snippet  { margin-block-end:pxToRem(32); }
    }
    &-header {
      position:relative; display:flex; flex-wrap:wrap; align-items:center; gap:pxToRem(8);
      .#{$p}-numeric-badge {
        @media #{$break2open} { position:absolute; inset-block-start:pxToRem(2); transform:translateX(calc(calc(-100% - pxToRem(16) ) * 1 )); }
      }
    }
    &-section {
      position:relative; display:flex; flex-direction:column; gap:pxToRem(24);
      @media #{$break2open} {
        &.is-with-line::before {
          content:""; display:block;
          position:absolute; inset-block-start:pxToRem(24); inset-inline-start:pxToRem(-30);
          inline-size:pxToRem(2); block-size:calc( 100% + pxToRem(8) ); background-color:hsl(var(--web-color-border));
        }
      }
    }
    /*
    &-sub-section {
      display:flex; flex-direction:column; gap:pxToRem(8);
      :where(.#{$p}-code-snippet, .#{$p}-media):not(:first-child) { margin-block-start:pxToRem(8); }
    }
    */
    &-grid-6-4 {
      > * { min-inline-size:0; }
      @media #{$break1} { display:flex; flex-direction:column; gap:pxToRem(32); }
      @media #{$break2open} { display:grid; grid-template-columns:6fr 5.7fr; gap:pxToRem(32); }
    }
  }
  .tabs-list { block-size:pxToRem(40); }

  @media #{$break1} {
    &-header {
      position:relative; z-index:1; flex-direction:column-reverse; padding-block-start:pxToRem(16);
      &-end { align-self:initial; }
    }
  }
}