@use '../abstract' as *;

.#{$p}-articles {
  --p-articles-item-bg-color: var(--web-color-white);
  --p-articles-item-title-color: var(--web-color-greyscale-900);
  --p-articles-item-paragraph-color: var(--web-color-greyscale-700);

  &-list { display:grid; grid-template-columns:repeat(auto-fill, minmax(pxToRem(300), 1fr)); gap:pxToRem(32); }
  &-item {
    display:flex; flex-direction:column; gap:pxToRem(4); padding:pxToRem(8);
    background-color:hsl(var(--p-articles-item-bg-color)); border-radius:pxToRem(16);
    &-header { color:hsl(var(--p-articles-item-title-color)); }
    &-paragraph { color:hsl(var(--p-articles-item-paragraph-color)); }
    &-content { padding:pxToRem(12); }
    &-image { border-radius:pxToRem(8); max-inline-size:100%; }
  }

  &.is-scroll { overflow-x:scroll; }

  #{$theme-dark} & {
    --p-articles-item-bg-color: var(--web-color-greyscale-850) / 0.94;
    --p-articles-item-title-color: var(--web-color-greyscale-100);
    --p-articles-item-paragraph-color: var(--web-color-greyscale-300);
  }
}