@use '../abstract' as *;

.#{$p}-article {
  &-header {
    position:sticky; z-index:20; background-color:red;
    display:flex; justify-content:space-between; gap:pxToRem(32);
    padding-block-start:pxToRem(40); padding-block-end:pxToRem(32);
    background-color:hsl(var(--p-body-bg-color));
    border-block-end:solid pxToRem(1) hsl(var(--color-border)); margin-block-end:pxToRem(24);
    &-start { display:flex; align-items:baseline; gap:pxToRem(16); }
    &-end { align-self:center; }
  }
  &-content {
    display:flex; flex-direction:column; gap:pxToRem(60);
    &-grid-6-4 {
      @media #{$break1} { display:flex; flex-direction:column; gap:pxToRem(32); }
      @media #{$break2open} { display:grid; grid-template-columns:6fr 5.7fr; gap:pxToRem(32); }
    }
  }
  @media #{$break1} {
    &-header {
      position:relative; z-index:1; flex-direction:column-reverse; padding-block-start:pxToRem(16);
      &-end { align-self:initial; }
    }
  }
}