@use '../abstract' as *;

.#{$p}-big-list-info {
  display:flex; flex-direction:column; gap:pxToRem(64);
  max-inline-size:pxToRem(400);
  &-item { padding-block-start:pxToRem(16); border-block-start:solid 1px hsl(var(--color-neutral-0) / 0.08);}
  .text { color:hsl(var(--aw-color-neutral-300)); }
}