@use '../abstract' as *;

.#{$p}-content {
  --p-section-gap: #{pxToRem(48)};
  --p-content-gap: #{pxToRem(24)};
  display:flex; flex-direction:column; gap:var(--p-section-gap);
  section {
    display:flex; flex-direction:column; gap:var(--p-content-gap);
    scroll-snap-align:start; scroll-margin-top:pxToRem(120);
  }
  a:not(.web-button) {
    @include break-word();
    &:where(:hover, :focus) { text-decoration:underline; }
  }

  a:not(.web-button):not(.web-link) {
    color:hsl(var(--web-color-primary));
  }
  ul {
    list-style: disc; padding-inline-start:pxToRem(24);
    > li {
      display:list-item; list-style-type:disc;
      &::marker { content:revert; color:hsl(var(--web-color-pink-500)); }
    }
  }
  &.is-count-headers {
    counter-reset: headers;
    .#{$p}-title {
      &::before { counter-increment:headers; content:counter(headers) ". "; }
    }
  }
  .count-secondary-title {
    counter-reset: inner-title;
    .#{$p}-sub-body-500 {
      &::before { counter-increment:inner-title; content:counter(headers) "." counter(inner-title) " "; }
    }

  }
  @media #{$break1} {
    --p-section-gap: #{pxToRem(24)};
    --p-content-gap: #{pxToRem(16)};
  }
}