@use '../abstract' as *;

.#{$p}-content-footer {
  padding-block-start: pxToRem(32);
  border-block-start: solid pxToRem(1) hsl(var(--aw-color-border));
  &-header {
    display:flex; gap:pxToRem(16); justify-content:space-between;
    &-start { display:flex; gap:pxToRem(16); }
    @media #{$break1} { flex-direction:column-reverse; }
    @media #{$break2open} { justify-items:center; }
  }
}