@use '../abstract' as *;

.#{$p}-footer-nav {
  display:flex; justify-content:space-between; padding-block-start:pxToRem(64); font-size:var(--web-font-size-tiny);
  .web-logo { align-self:start; }
  &-main {
    &-title { margin-block-end:pxToRem(24); }
    &-list  { display:flex; justify-content:space-between;  flex-basis:pxToRem(830); }
    &-item {}
    &-button {}
  }

  &-secondary {
    &-list { display:flex; flex-direction:column; gap:pxToRem(10); }
    &-item {}
  }

  @media #{$break1} {
    flex-direction:column; gap:pxToRem(40);
    &-main {
      &-list { display:flex; flex-direction:column; gap:pxToRem(12); flex-basis:0; }
      &-item {
        display:flex; flex-direction:column; 
        
        background-color:hsl(var(--color-neutral-0) / 0.04);
        border-radius:pxToRem(8);

        -webkit-backdrop-filter:blur(pxToRem(8));
        backdrop-filter:blur(pxToRem(8));

        .#{$p}-footer-nav-secondary-list {
          padding:pxToRem(16);
        }
      }
    }
    &-button {
      display:flex; justify-content:space-between; align-items:center;
      inline-size:100%; gap:pxToRem(16);
      padding:pxToRem(16);
      &-arrow { transition:var(--transition);}
    }
  }
}