@use '../abstract' as *;

.#{$p}-footer-nav {
  display:flex; justify-content:space-between; padding-block:pxToRem(64); font-size:var(--aw-font-size-tiny);
  .aw-logo { align-self:start; }
  &-main {
    &-title { margin-block-end:pxToRem(24); text-transform: uppercase; color:hsl(var(--aw-color-secondary)) }
    &-list  { display:flex; justify-content:space-between;  flex-basis:pxToRem(830); }
    &-item {}
    &-button {}
  }

  &-secondary {
    &-list { display:flex; flex-direction:column; gap:pxToRem(10); }
    &-item {
      a { 
        color:hsl(var(--aw-color-primary));
        &:hover { color:hsl(var(--aw-color-grayscale-500)); }
       }
      }
  }

  @media #{$break1} {
    flex-direction:column; gap:pxToRem(40);
    &-main {
      &-list { display:flex; flex-direction:column; gap:pxToRem(12); flex-basis:0; }
      &-item {
        display:flex; flex-direction:column; gap:pxToRem(24);
        padding:pxToRem(16);
        background-color:hsl(var(--color-neutral-0) / 0.04);
        border-radius:pxToRem(8);

        -webkit-backdrop-filter:blur(pxToRem(8));
        backdrop-filter:blur(pxToRem(8));
      }
    }
    &-secondary {
      &-list {display:none;}
    }
    &-button {
      display:flex; justify-content:space-between; align-items:center;
      inline-size:100%; gap:pxToRem(16);
      &-arrow { transition:var(--transition);}
      &.is-open {
        .#{$p}-footer-nav-button-arrow { rotate:180deg; }
      + * { display:flex; }
      }
    }
  }
}