@use '../abstract' as *;

.#{$p}-hero {
  --p-hero-max-inline-size: var(--hero-max-inline-size, #{pxToRem(855)});
  --p-hero-gap: var(--hero-gap, #{pxToRem(16)});

  display:flex; flex-direction:column; gap:var(--p-hero-gap); text-align:center;
  max-inline-size:var(--p-hero-max-inline-size); margin-inline:auto;
  .#{$p}-sub-title { margin-block-end:pxToRem(4); }

  :where(.#{$p}-title, .#{$p}-display, .#{$p}-headline):not(:frist-child) {
    color:hsl(var(--web-color-primary)); margin-block-start:pxToRem(8);
  }

  .#{$p}-description { margin-block-start:pxToRem(20); color:hsl(var(--web-color-secondary)); }

  &.is-align-start {
    text-align:start; margin-inline:0;
    .#{$p}-badges { align-self:start; }
  }
  &.is-mobile-center {
    @media #{$break1} {
      justify-content:center; text-align:center; margin-inline:auto;
    }
  }
  &.is-horizontal {
    display:flex; flex-direction:column; margin-inline:initial;
    text-align:start;
    @media #{$break1}     { max-inline-size:initial; }
    @media #{$break2open} { max-inline-size:pxToRem(650); }
    @media #{$break3open} {
      flex-direction:row; gap:pxToRem(32); text-align:start;
      margin-inline:0; max-inline-size:none;
      >:nth-child(1) { flex:1.3; }
      >:nth-child(2) { flex:1;   }
    }
    @media #{$break1}, #{$break2}, #{$break3} { overflow:hidden; }
  }

  &.is-no-max-width { max-inline-size:initial; }
}