@use '../abstract' as *;

.#{$p}-info-boxes {
  --p-info-boxes-backfround-color: var(--info-boxes-backfround-color, var(--aw-color-neutral-100));
  --p-info-boxes-border-color: var(--info-boxes-border-color, 0 0% 0%/ 0.08);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(pxToRem(332), 1fr));
  gap: pxToRem(1);
  background-color: hsl(var(--p-info-boxes-border-color));

  &-item {
    background-color: hsl(var(--p-info-boxes-backfround-color));
    padding-inline-start:pxToRem(32); padding-inline-end:pxToRem(64); padding-block-end:pxToRem(32);
  }
}