@use '../abstract' as *;

.#{$p}-info-boxes {
  --p-info-boxes-sep-color: var(--web-color-smooth);

  display:grid; gap:pxToRem(1);
  grid-template-columns: repeat(auto-fill, minmax(pxToRem(306), 1fr));
  margin-inline-start:pxToRem(-32); margin-block-start:pxToRem(-32);
  clip-path: inset(pxToRem(1.2)); overflow:hidden;

  &-item {
    position:relative;
    padding-inline:pxToRem(32);
    padding-block-start:pxToRem(32); padding-block-end:pxToRem(32);
    border-block-end:solid pxToRem(1) hsl(var(--p-info-boxes-sep-color));
    &::after {
      content:"";
      position:absolute; inset-block-start:0; inset-inline-end:0;
      display:block; height:100vh;
      border-inline-end:solid pxToRem(1) hsl(var(--p-info-boxes-sep-color));
    }
  }
  &-title {
    display:flex; flex-wrap:wrap; align-items:baseline; gap:pxToRem(12);
    margin-block-start:pxToRem(16); color:hsl(var(--web-color-primary));
  }
  &-content { margin-block-start:pxToRem(4); color:hsl(var(--web-color-secondary)); }

  &:where(.is-desktop-max-out-3) {
    @media #{$break2open} {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 450px) {
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(146), 1fr));
  }
  @media (min-width: 450.1px) and (max-width: 630px) {
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(210), 1fr));
  }
}