@use '../abstract' as *;

.#{$p}-info-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  &-wrapper {  }

  &-col,
  &-col-header {
    @include break-word();
    min-inline-size:pxToRem(224); padding-block:pxToRem(18); padding-inline:pxToRem(12);
    border:solid pxToRem(1) hsl(var(--web-color-smooth));
  }
  &-col {  }
  &-col-header {
    background-color:hsl(var(--web-color-greyscale-850)); color:hsl(var(--web-color-primary)); text-align:start;
    &:first-child { max-inline-size:pxToRem(224); }
  }

  &-scroll {
    border-radius:pxToRem(8); border:solid pxToRem(1) hsl(var(--web-color-smooth));
    overflow-x:auto;
    @media #{$break1} {
      min-inline-size: calc(100vw - #{pxToRem(32)});
      border-start-end-radius:0;
      border-end-end-radius:0;
    }
  }

  &.is-4-equals-columns {
    .#{$p}-info-table {
      &-col,
      &-col-header { inline-size:25%; min-inline-size:pxToRem(165); }
    }
  }
}