@use '../abstract' as *;

.#{$p}-inline-info {
  @include border-gradient;
  --m-border-gradient-before: linear-gradient(0deg, #C3C3C6 0%, rgba(195, 195, 198, 0.20) 100%);
  --m-border-radius: #{pxToRem(8)}; 

  --p-inline-info-bg-color: var(--web-color-white) / 0.04;
  --p-inline-info-border-color: var(--web-color-greyscale-250);

  background:hsl(var(--p-inline-info-bg-color));

  display:flex; flex-direction:column; gap:pxToRem(8); padding:pxToRem(16);
  >:last-child  { margin-block-end:0!important;}
  [class*="icon"]:first-child { color:hsl(var(--web-color-primary)); font-size:pxToRem(24)!important; line-height: pxToRem(24)!important; }

  a {
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
    text-decoration-thickness: 0.75px;
    text-decoration-color: color-mix(in srgb, var(--color-tertiary) 50%, transparent);
    text-underline-offset: 0.3125rem;
    letter-spacing: var(--tracking-tight);
    color: var(--color-primary);
    transition: all 100ms ease-in-out;

    &:hover {
      color: var(--color-accent-darker);
      text-decoration-color: var(--color-accent-darker);
    }

    &:active {
      color: var(--color-accent);
      text-decoration-color: var(--color-accent);
    }
  }

  #{$theme-dark} & {
    --p-inline-info-bg-color: var(--web-color-white) / 0.04;
    --p-inline-info-border-color: var(--web-color-white) / 0.6;
    --m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.20) 100%);
  }
}