@use '../abstract' as *;

.#{$p}-inline-info {
  >:last-child  { margin-block-end:0!important;}
  --p-inline-info-bg-color: var(--aw-color-white) / 0.04;
  --p-inline-info-border-color: var(--aw-color-greyscale-250);

  background:hsl(var(--p-inline-info-bg-color));
  border:pxToRem(1) solid hsl(var(--p-inline-info-border-color));

  display:flex; flex-direction:column; gap:pxToRem(8);
  padding:pxToRem(16); border-radius:pxToRem(8);
  [class*="icon"]:first-child { color:hsl(var(--aw-color-primary)); font-size:pxToRem(24)!important; }

  #{$theme-dark} & {
    --p-inline-info-bg-color: var(--aw-color-white) / 0.04;
    --p-inline-info-border-color: var(--aw-color-white) / 0.6;
  }
}