@use '../abstract' as *;

.#{$p}-main-footer {
  display:flex; justify-content:space-between; gap:pxToRem(16); font-size:pxToRem(14);
  padding-block:pxToRem(24); border-block-start:solid pxToRem(1) hsl(var(--aw-color-border));
  font-size:var(--aw-font-size-tiny); color:hsl(var(--aw-color-secondary));

  &-links {
    display:flex; gap:pxToRem(16);
    @media #{$break1}, #{$break2}, #{$break3} { flex-direction:column; }
    @media #{$break4open} {  }
  }

  &.is-with-bg-color { z-index:25; background-color:hsl(var(--p-body-bg-color)); }

  @media #{$break1}, #{$break2}, #{$break3} {
    flex-direction: column;
    &-grid-1 {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: pxToRem(24);
      grid-template-areas: "col-3 col-2"
                          "col-1 col-1"
                          "col-4 col-4";
      &-column-1 { grid-area:col-1; }
      &-column-2 { grid-area:col-2; }
      &-column-3 { grid-area:col-3; }
      &-column-4 { grid-area:col-4; }
    }
  }

  @media #{$break4open} {
    &-grid-1 {
      display:flex; align-items:center; gap:pxToRem(32); inline-size:100%;
      &-column-1 { margin-inline-end:auto; }
    }
  }
}