@use '../abstract' as *;

.#{$p}-main-header {
  display:flex; padding-block-start:pxToRem(20); padding-block-end:pxToRem(24); font-size:pxToRem(16);
  &-start { display:flex; }
  &-end { display:flex;  margin-inline-start:auto; }

  .aw-logo { margin-inline-end:pxToRem(40); }
  &-nav {
    align-self:center; font-size:pxToRem(16);
    &-list { display:flex; gap:pxToRem(32); }
    &-item {}
  }
}