@use '../abstract' as *;

.#{$p}-main-header {
  --p-main-header-padding-block: #{pxToRem(15)};
  
  --p-main-header-link-color: var(--aw-color-greyscale-900);
  --p-main-header-border-color: rgb(0,0,0, 0.1);

  position:sticky; z-index:20; inset-block-start:0; background-color:hsl(var(--p-body-bg-color));
  border-block-end: solid 1px var(--p-main-header-border-color);
  padding-inline: clamp(1.25rem, 4vw, 120rem);
  
  &.is-docs {
    padding-inline: pxToRem(32);

  }
  
  &-wrapper { 
    display: flex;
    justify-content: center;
    margin-inline: auto;

    max-width: pxToRem(1728);
    padding-block: var(--p-main-header-padding-block);
    flex-wrap: wrap;
    gap: 1rem;
  }
  &-start { display:flex; align-items:center; }
  &-end { display:flex; margin-inline-start:auto; align-items:center; gap:pxToRem(8) }

  .#{$p}-input-text { padding-block:pxToRem(7); padding-inline-end:pxToRem(8); }

  .aw-logo { margin-inline-end:pxToRem(32); }
  

  &-nav {
    align-self:center; font-size:pxToRem(16); user-select:none;
    &-list { display:flex; gap:pxToRem(32); }
    &-link {
      color:hsl(var(--aw-color-primary)); transition:var(--transition);
      &.is-selected { color:hsl(var(--p-main-header-link-color)); }
    }
  }
  &-more {
    &-link { color:hsl(var(--color-neutral-0) / 0.64); }
  }

  &.is-transparent { background-color:transparent; -webkit-backdrop-filter:blur(pxToRem(10)); backdrop-filter:blur(pxToRem(10)); }

  #{$theme-dark} &,
  &#{$theme-dark} {
    --p-main-header-link-color: var(--aw-color-greyscale-100);
    --p-main-header-border-color: rgb(255,255,255, 0.1);
  }

  #{$theme-light} &,
  &#{$theme-light} {
    --p-main-header-link-color: var(--aw-color-greyscale-900);
    --p-main-header-border-color: rgb(0,0,0, 0.1);
  }

  @media #{$break1}{
    display:none;
  }
  

  transition: transform 0.3s ease;
  &.is-hidden {
    transform: translateY(-100%);
  }
}