@use '../abstract' as *;

.#{$p}-mobile-header {
  display:flex; justify-content:space-between; align-items:center; gap:pxToRem(16);
  padding:pxToRem(20); padding-inline-end:0;
  &-start { display:flex; }
  &-end   { display:flex; }
  @media #{$break3open} { display:none; }
}