@use '../abstract' as *;

.#{$p}-references-menu {
  --p-references-menu-header-color-text: var(--aw-color-neutral-900);
  --p-references-menu-link-color-text: var(--aw-color-neutral-700);
  --p-references-menu-link-color-text-selected: var(--aw-color-neutral-900);

  position:relative; z-index:10;
  display:flex; flex-direction:column; padding-inline:pxToRem(16);

  &-content {
    display:flex; flex-direction:column; gap:pxToRem(28); inline-size:pxToRem(255);
  }
  &-title {}
  &-list { display:flex; flex-direction:column; gap:pxToRem(16); }
  &-item {}
  &-link {
    color:hsl(var(--p-references-menu-link-color-text));
    &.is-selected { --p-references-menu-link-color-text:var(--p-references-menu-link-color-text-selected); }
  }

  #{$theme-dark} & {
    --p-references-menu-header-color-text: var(--aw-color-neutral-100);
    --p-references-menu-link-color-text: var(--aw-color-neutral-300);
    --p-references-menu-link-color-text-selected: var(--aw-color-neutral-100);
  }
}