@use '../abstract' as *;

.#{$p}-references-menu {
  --p-references-menu-header-color-text: var(--aw-color-primary);
  --p-references-menu-link-color-text: var(--aw-color-secondary);
  --p-references-menu-link-color-text-selected: var(--aw-color-primary);

  position:relative; z-index:10;
  display:flex; flex-direction:column; padding-inline:pxToRem(16);

  &-content {
    display:flex; flex-direction:column; gap:pxToRem(28); inline-size:pxToRem(255);
  }
  &-title { color:hsl(var(--aw-color-primary)); }
  &-list {
    @include scroll(); overflow-y:auto;
    display:flex; flex-direction:column; gap:pxToRem(16);
  }
  &-item {}
  &-link {
    display:flex; gap:pxToRem(8);
    color:hsl(var(--p-references-menu-link-color-text));
    &.is-selected { --p-references-menu-link-color-text:var(--p-references-menu-link-color-text-selected); }
  }
}