@use '../abstract' as *;

.#{$p}-strip-plans {
  &-header {
    container-name:strip-plans; container-type:inline-size;
    margin-block-end:pxToRem(32);
    &-wrapper {
      display:flex; justify-content:space-between; align-items:center; gap:pxToRem(16);
    }
  }
  &-item {
    container-name:strip-plans; container-type:inline-size;
    padding-block:pxToRem(32);
    &:nth-child(n + 2) { border-block-start:solid pxToRem(1) rgba(255, 255, 255, 0.12); }
    &:last-child { padding-block-end:0; }
    &-wrapper {
      display:flex; justify-content:space-between; align-items:end; gap:pxToRem(48);
    }
  }
  &-plan {
    display:flex; flex-direction:column; gap:pxToRem(4);
    flex:1; flex-basis:pxToRem(125); flex-shrink:0;
    .title { color:rgb(255 255 255 / 0.64); }
    .price {  }
    .info  { white-space:nowrap; color:rgb(255 255 255 / 0.64); }
  }
  &-info { flex:2.5; flex-basis:pxToRem(230); color:rgb(255 255 255 / 0.64); }
  .#{$p}-button { flex:1;  white-space:nowrap; }

  /* responsive according container size */
  @container strip-plans (max-inline-size: #{pxToRem(500)}) {
    &-header-wrapper { flex-direction:column; align-items:start; }
    &-item-wrapper {
      flex-direction:column; align-items:revert; gap:pxToRem(16);
      .#{$p}-button {margin-block-start:pxToRem(4); }
    }
    &-plan,
    &-info { flex:initial; flex-basis:0; }
  }
}