@use '../abstract' as *;

.#{$p}-top-banner {
  display:flex; justify-content:center;
  padding-block:pxToRem(5); padding-inline:pxToRem(12);
  background: linear-gradient(94deg, rgba(253, 54, 110, 0.00) 0%, rgba(253, 54, 110, 0.50) 50.82%, rgba(253, 54, 110, 0.00) 100%);
  &-content { line-height:pxToRem(20); transition:var(--transition); }
  &-button { position:absolute; inset-inline-end:pxToRem(12); }

  [data-banner-hidden] & {
    display: none;
  }
}

.#{$p}-top-banner-2 {
  position: relative; z-index:10;
  padding-block: pxToRem(18);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  background-image:url("/images/bgs/top-bg-init.png");
  //background-image: linear-gradient(206deg, rgba(255, 255, 255, 0.10) 2.68%, rgba(0, 0, 0, 0.00) 113.4%), var(--color-bw-black, #000);
  &-wrapper { margin-inline:auto; max-inline-size:pxToRem(1728);}
  &.is-special-padding {
    padding-inline: clamp(1.25rem,4vw,120rem); /* Thomas calculation */
  }
  &::after {
    content:""; display:block; block-size:pxToRem(1);
    position:absolute; inset-block-end:0; inset-inline:0;
    background-color:hsl(var(--web-color-white)); background-blend-mode:overlay;
    opacity:0.12;

  }
}