@use '../abstract' as *;

.#{$p}-grid-row-4 {
  display:grid; gap:pxToRem(32);
  li > * { min-block-size:100%; }

  @media #{$break1} {
    &-mobile-2 {
      grid-template-columns: repeat(2, 1fr);
      .is-mobile-col-span-2 { grid-column:span 2; }
    }
  }
  @media #{$break2open} {
    grid-template-columns: repeat(4, 1fr);
  }
}