@mixin border-gradient-inner {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--m-border-radius);
  border: var(--m-border-size, 1px) solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

@mixin border-gradient {
  & {
    position: relative;
    border-radius: var(--m-border-radius);
  }

  &::before {
    background: var(--m-border-gradient-before) border-box;
    @include border-gradient-inner;
  }

  &::after {
    background: var(--m-border-gradient-after) border-box;
    @include border-gradient-inner;
  }
}


@mixin border-block-gradient-inner {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--m-border-radius);
  border-block: var(--m-border-size, 1px) solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

@mixin border-block-gradient {
  position: relative;
  border-radius: var(--m-border-radius);

  &::before {
    background: var(--m-border-gradient-before) border-box;
    @include border-block-gradient-inner;
  }

  &::after {
    background: var(--m-border-gradient-after) border-box;
    @include border-block-gradient-inner;
  }
}

