@use '../../abstract/functions/pxToRem' as *;
@use '../../abstract/variables/common' as *;

@mixin numeric-badge {
  --p-numeric-badge-text-color: var(--web-color-pink-500);

  color: hsl(var(--p-numeric-badge-text-color));

  display:grid; place-content:center; user-select:none;
  min-inline-size:pxToRem(24); block-size:pxToRem(24); padding-inline:pxToRem(6);
  background:hsl(var(--web-color-pink-500) / 0.08);
  border:pxToRem(1) solid hsl(var(--web-color-pink-500) / 0.32); border-radius:pxToRem(6);
  font-size:pxToRem(14);

  #{$theme-dark} & {
    --p-numeric-badge-text-color: var(--web-color-greyscale-100);
  }
}