@use '../abstract' as *;
body {
  --p-body-text-color: var(--aw-color-neutral-100);
  --p-body-bg-color: var(--aw-color-neutral-900);

  font-family: var(--content-font);
  font-weight: 400;
  font-size: 100%; /* default equal to 16px */
  line-height: 1.5;

  color: hsl(var(--p-body-text-color));
  background-color: hsl(var(--p-body-bg-color));
}



/** heading **/

/* color for both heading */
[class*="#{$p}-heading-"] {
  --p-aw-heading-text-color: var(--aw-heading-text-color, var(--aw-color-neutral-100));
  color: hsl(var(--p-aw-heading-text-color));
}

[class*="#{$p}-heading-level"] {
  font-family: var(--aw-heading-font, arial);
  line-height: 1.05;
}

.#{$p}-heading-level {
  @media #{$break1}, #{$break2} {
    &-1 { font-size:var(--font-size-7); font-weight:400; }
    &-2 { font-size:var(--font-size-6); font-weight:400; }
    &-3 { font-size:var(--font-size-5); font-weight:600; }
    &-4 { font-size:var(--font-size-4); font-weight:500; }
    &-5 { font-size:var(--font-size-3); font-weight:500; }
    &-6 { font-size:var(--font-size-2); font-weight:500; }
    &-7 { font-size:var(--font-size-1); font-weight:500; }
  }
  @media #{$break3open} {
    &-1 { font-size:pxToRem(108); font-weight:400; }
    &-2 { font-size:pxToRem(72);  font-weight:400; }
    &-4 { font-size:var(--font-size-5); font-weight:600; }
    &-5 { font-size:var(--font-size-4); font-weight:500; }
    &-6 { font-size:var(--font-size-3); font-weight:500; }
    &-7 { font-size:var(--font-size-2); font-weight:500; }
  }
}
//
//[class*="eyebrow-heading"] {
//  text-transform: uppercase;
//  font-weight: 600;
//  line-height: 1.5;
//}
//
//.eyebrow-heading {
//  &-1 { font-size:var(--font-size-1);  letter-spacing:0.08em; }
//  &-2 { font-size:var(--font-size-0);  letter-spacing:0.08em; }
//  &-3 { font-size:var(--font-size-00); letter-spacing:0.12em; }
//}
//
//.body-text {
//  &-1 { font-size:var(--font-size-1); }
//  &-2 { font-size:var(--font-size-0); }
//}
//
//:where(body) :focus-visible {
//  /* focus styles */
//  box-shadow: var(--focus-box-shadow);
//}