@use '../abstract' as *;
body {
  --p-body-text-color: var(--aw-color-neutral-100);
  --p-body-bg-color: var(--aw-color-neutral-900);

  font-family: var(--content-font);
  font-weight: 400;
  font-size: 100%; /* default equal to 16px */
  line-height: 1.5;

  color: hsl(var(--p-body-text-color));
  background-color: hsl(var(--p-body-bg-color));
}
/** heading **/


/* color for both heading */
[class*="#{$p}-heading-"] {
  --p-aw-heading-text-color: var(--aw-heading-text-color, var(--aw-color-neutral-100));
  color: hsl(var(--p-aw-heading-text-color));

  #{$white-section} & { --p-aw-heading-text-color:var(--aw-color-neutral-900); }
}

[class*="#{$p}-heading-level"] {
  font-family: var(--aw-font-family-aeonik-pro, arial);
  line-height: 1.05;
}

.#{$p}-heading-level {
  @media #{$break1}, #{$break2} {
    &-1 { font-size:pxToRem(56); line-height:1; font-weight:400; }
    &-2 { font-size:pxToRem(48); font-weight:400; }
    &-3 { font-size:pxToRem(48); font-weight:400; }
    &-4 { font-size:var(--font-size-4); font-weight:500; }
    &-5 { font-size:var(--font-size-3); font-weight:500; }
    &-6 { font-size:var(--font-size-2); font-weight:500; }
    &-7 { font-size:var(--font-size-1); font-weight:500; }
  }
  @media #{$break3open} {
    &-1 { font-size:pxToRem(108); line-height:1; font-weight:400; }
    &-2 { font-size:pxToRem(72);  font-weight:400; }
    &-3 { font-size:pxToRem(48);  font-weight:400; }
    &-4 { font-size:var(--font-size-5); font-weight:600; }
    &-5 { font-size:var(--font-size-4); font-weight:500; }
    &-6 { font-size:var(--font-size-3); font-weight:500; }
    &-7 { font-size:var(--font-size-2); font-weight:500; }
  }
}