@use '../abstract' as *;
body {
	--p-body-text-color: var(--web-color-secondary);
	--p-body-bg-color: var(--web-color-background-docs);

	font-family: var(--web-font-family-inter);
	font-weight: 400;
	font-size: 100%; /* default equal to 16px */
	line-height: 1.5;

	color: hsl(var(--p-body-text-color)) !important;
	//background-color: hsl(var(--p-body-bg-color));
}

.#{$p}-main-section {
	//overflow-x:hidden;
}

:where(body) :focus-visible {
	/* focus styles */
	box-shadow: var(--focus-box-shadow);
}

::selection {
	color: hsl(var(--web-color-black)); -webkit-text-fill-color: hsl(var(--web-color-black));
	background-color: hsl(var(--web-color-mint-500)); background-clip:revert; -webkit-background-clip:revert;
}

code {
	word-break: break-word;
}