@use '../abstract' as *;
body {
  --p-body-text-color: var(--aw-color-neutral-900);
  --p-body-bg-color: var(--aw-color-neutral-25);

  font-family: var(--aw-font-family-inter);
  font-weight: 400;
  font-size: 100%; /* default equal to 16px */
  line-height: 1.5;

  color: hsl(var(--p-body-text-color));
  background-color: hsl(var(--p-body-bg-color));

  &#{$theme-dark}{
    --p-body-text-color: var(--aw-color-neutral-100);
    --p-body-bg-color: var(--aw-color-neutral-900);
  }
}

:where(body) :focus-visible {
  /* focus styles */
  box-shadow: var(--focus-box-shadow);
}