@use "abstract" as *;

.#{$p}-u-padding-block-end-56       { padding-block:pxToRem(56); }
.#{$p}-u-margin-block-start-80      { margin-block-start:pxToRem(80); }
.#{$p}-u-margin-block-start-88      { margin-block-start:pxToRem(88); }

.#{$p}-u-text-color-primary-100     { color:hsl(var(--aw-color-primary-100));   }
.#{$p}-u-text-color-secondary-100   { color:hsl(var(--aw-color-secondary-100)); }
.#{$p}-u-text-color-neutral-100     { color:hsl(var(--aw-color-neutral-100));   }
.#{$p}-u-text-color-neutral-500     { color:hsl(var(--aw-color-neutral-500));   }
.#{$p}-u-text-color-neutral-700     { color:hsl(var(--aw-color-neutral-700));   }
.#{$p}-u-text-color-neutral-900     { color:hsl(var(--aw-color-neutral-900));   }