@use 'sass:meta';

@layer pink, css-variables, resets, fonts, icons, animations, elements, pinkcomponents, sequences, grids, pages, pinkutilities;

@layer pink {
  @include meta.load-css('pink-icons');
}

@layer css-variables {
  @include meta.load-css('1-css-variables');
}

@layer resets {
  @include meta.load-css('2-resets');
}

@layer fonts {
  @include meta.load-css('3-fonts');
}

@layer icons {
  @include meta.load-css('4-icons');
}

@layer animations {
  @include meta.load-css('5-animations');
}

@layer elements {
  @include meta.load-css('6-elements');
}

@layer pinkcomponents {
  @include meta.load-css('7-components');
}

@layer sequences {
  @include meta.load-css('8-sequences');
}

@layer grids {
  @include meta.load-css('9-grids');
}

@layer pages {
  @include meta.load-css('9-pages');
}

@layer pinkutilities {
  @include meta.load-css('10-utilities');
}
