@use 'sass:meta';

@layer pink, css-variables, resets, icons, animations, elements, components, grids, pages, utilities;

@import url("https://unpkg.com/@appwrite.io/pink") layer(pink); /* temp location */

@layer css-variables {
  @include meta.load-css('1-css-variables');
}

@layer resets {
  @include meta.load-css('2-resets');
}

@layer icons {
  @include meta.load-css('4-icons');
}

@layer animations {
  @include meta.load-css('5-animations');
}

@layer elements {
  @include meta.load-css('6-elements');
}

@layer components {
  @include meta.load-css('7-components');
}

@layer grids {
  @include meta.load-css('8-grids');
}

@layer pages {
  @include meta.load-css('9-pages');
}

@layer utilities {
  @include meta.load-css('10-utilities');
}
