@use '../abstract' as *;
:root {
    /* primary */
  --aw-color-primary-hue: 343;
  --aw-color-primary-100: var(--aw-color-primary-hue) 98% 60%; /* #FD366E */

  /* secondary */
  --aw-color-secondary-hue: 18;
  --aw-color-secondary-100: var(--aw-color-secondary-hue) 99% 70%; /* #FE9567 */

  /* neutral */
  --aw-color-neutral-100:   240 9% 94%;   /* #EDEDF0 */
  --aw-color-neutral-200:   240 6% 90%;   /* #E4E4E7 */
  --aw-color-neutral-300:   240 3% 77%;   /* #C3C3C6 */
  --aw-color-neutral-500:   240 2% 69%;   /* #ADADB1 */
  --aw-color-neutral-600:   240 1% 44%;   /* #6E6E71 */
  --aw-color-neutral-700:   240 3% 27%;   /* #434347 */
  --aw-color-neutral-900:   240 7% 12%;   /* #19191D */
}