@use '../abstract' as *;
:root {
    --web-font-family-aeonik-pro: 'Aeonik Pro', arial, sans-serif;
    --web-font-family-inter: 'Inter', arial, sans-serif;
    --web-font-family-aeonik-fono: 'Aenoik Fono', monospace;
    --web-font-family-archia: 'Archia', arial, sans-serif;
    --web-font-family-fira-code: 'Fira Code', monospace;
}
:root {
    --web-font-size-micro: #{pxToRem(12)};
    --web-font-size-tiny: #{pxToRem(14)};
    --web-font-size-small: #{pxToRem(16)};
    --web-font-size-medium: #{pxToRem(18)};
    --web-font-size-large: #{pxToRem(20)};
    --web-font-size-xl: #{pxToRem(24)};
    --web-font-size-xxl: #{pxToRem(32)};
    --web-font-size-xxxl: #{pxToRem(40)};
    --web-font-size-big: #{pxToRem(48)};
    --web-font-size-huge: #{pxToRem(56)};
    --web-font-size-super: #{pxToRem(64)};
    --web-font-size-giant: #{pxToRem(88)};
}

:root {
    --web-line-height-micro: #{pxToRem(14)};
    --web-line-height-tiny: #{pxToRem(16)};
    --web-line-height-xs: #{pxToRem(22)};
    --web-line-height-sm: #{pxToRem(26)};
    --web-line-height-md: #{pxToRem(28)};
    --web-line-height-lg: #{pxToRem(34)};
    --web-line-height-big: #{pxToRem(44)};
    --web-line-height-xl: #{pxToRem(50)};
    --web-line-height-xxl: #{pxToRem(56)};
    --web-line-height-xxxl: #{pxToRem(68)};
    --web-line-height-xxxxl: #{pxToRem(88)};
}

:root {
    --web-letter-spacing-compressed: -0.022em;
    --web-letter-spacing-squeezed: -0.01em;
    --web-letter-spacing-tighter: -0.018em;
    --web-letter-spacing-tight: -0.0045em;
    --web-letter-spacing-none: 0em;
    --web-letter-spacing-loose: 0.08em;
}

:root {
    --web-font-weight-air: 100;
    --web-font-weight-thin: 200;
    --web-font-weight-light: 300;
    --web-font-weight-regular: 400;
    --web-font-weight-medium: 500;
    --web-font-weight-bold: 600;
    --web-font-weight-black: 700;
}
