@use '../abstract' as *;
:root {
  --aw-heading-font:  'Aeonic Pro','Poppins', arial, sans-serif;
  --aw-content-font:  'Inter', arial, sans-serif;
  --aw-code-font:     'Source Code Pro', monospace;
}