@use '../abstract' as *;
:root {
  --aw-font-family-aeonik-pro: 'Aeonik Pro', arial, sans-serif;
  --aw-font-family-inter: 'Inter', arial, sans-serif;
  --aw-font-family-aeonik-fono: 'Aenoik Fono', monospace;
  --aw-font-family-fira-code: 'Fira Code', monospace;
}
:root {
  --aw-font-size-micro:  #{pxToRem(12)};
  --aw-font-size-tiny:   #{pxToRem(14)};
  --aw-font-size-small:  #{pxToRem(16)};
  --aw-font-size-medium: #{pxToRem(18)};
  --aw-font-size-large:  #{pxToRem(20)};
  --aw-font-size-xl:     #{pxToRem(24)};
  --aw-font-size-xxl:    #{pxToRem(32)};
  --aw-font-size-xxxl:   #{pxToRem(40)};
  --aw-font-size-big:    #{pxToRem(48)};
  --aw-font-size-huge:   #{pxToRem(56)};
  --aw-font-size-super:  #{pxToRem(64)};
  --aw-font-size-giant:  #{pxToRem(88)};
}

:root {
  --aw-line-height-micro:  #{pxToRem(14)};
  --aw-line-height-tiny:   #{pxToRem(16)};
  --aw-line-height-xs:     #{pxToRem(22)};
  --aw-line-height-sm:     #{pxToRem(26)};
  --aw-line-height-md:     #{pxToRem(28)};
  --aw-line-height-lg:     #{pxToRem(34)};
  --aw-line-height-big:    #{pxToRem(44)};
  --aw-line-height-xl:     #{pxToRem(50)};
  --aw-line-height-xxl:    #{pxToRem(56)};
  --aw-line-height-xxxl:   #{pxToRem(68)};
  --aw-line-height-xxxxl:  #{pxToRem(88)};
}

:root {
  --aw-letter-spacing-compressed:  -0.022em;
  --aw-letter-spacing-squeezed:    -0.01em;
  --aw-letter-spacing-tighter:     -0.018em;
  --aw-letter-spacing-tight:       -0.0045em;
  --aw-letter-spacing-none:        0em;
  --aw-letter-spacing-loose:       0.08em;
}

:root {
  --aw-font-weight-air:     100;
  --aw-font-weight-thin:    200;
  --aw-font-weight-light:   300;
  --aw-font-weight-regular: 400;
  --aw-font-weight-medium:  500;
  --aw-font-weight-bold:    600;
  --aw-font-weight-black:   700;
}